svg {
    border: 0px solid black;

}


#pledgesCategoryChart svg {
    padding-left: 40px;
    padding-bottom: 15px;
    height:390px;

}

#pledgesCategoryChart {}



#submissionsBarChart svg {
    padding-left: 10px;
    padding-bottom: 15px;
    height:390px;

}

#submissionsBarChart {}



#resultPieChart svg {
    padding: 10px;
    height:275px;

}


#timeLineChart svg {
    padding-left: 15px;
    height:270px;
}

#timeLineChart {
    
}



#popularCategoryRowChart svg {
    padding-bottom: 15px;

}




.x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

 /*davisford on github*/

.dc-chart .pie-slice {
    font-size: 16px;

}

.lineHeading {
    text-align:center;
    
}

.text {
    text-align:center;
}

#number-box {
        background: orange;
        width: 200px;
        font-size: 50px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: normal;
      }
      
      
      
      
