svg {
    border: 1px solid black;


}


#pledgesCategoryChart svg {
    width:570px;
    padding-left: 60px;
    padding-bottom: 15px;
    height: 390px;

}

#pledgesCategoryChart {}



#submissionsBarChart svg {
    padding-left: 24px;
    padding-bottom:15px;
    height: 390px;

}

#submissionsBarChart {}



#resultPieChart svg {
    /*padding: 10px;*/
    /*margin-left:30px;*/
    height: 275px;

}

#resultPieChart {
    padding-left:60px;
    
}


#timeLineChart svg {
    padding-left: 20px;
    padding-right: 20px;
    height: 270px;
    width:1150px;
}

#timeLineChart {
   
}



#popularCategoryRowChart svg {
    padding-bottom: 15px;

}


.dc-chart .axis text {
    fill: black;
    font-size: 14px;
}

.dc-chart g.row text {
    fill: black;
}

.x.axis text { /*davisford on github*/
    text-anchor: end !important;
    transform: rotate(-45deg);
}



.dc-chart .pie-slice {
    font-size: 16px;

}

.lineHeading {
    text-align: center;

}

.text {
    text-align: center;
}

#number-box {
    background: orange;
    width: 50px;
    font-size: 20px;
    text-align: center;
    line-height: normal;
}
