body {
    background-color:;
}



svg {
    border: 0px solid darkcyan;


}


#timeLineChart svg {
    height:265px;
    width:1120px;
    padding-left:10px;
    
}

#timeLineChart {
    width:1125px;
    padding-left:15px;
    margin:0px;
}



#resultPieChart svg{
    height:250px;
    margin-left:50px;
    
    
}

#resultPieChart {
    padding:0px;
    height:270px;
    
    
}


#submissionsBarChart svg {
    padding-left:24px;
    padding-bottom:19pc;
    
}

#submissionsBarChart {
    padding-bottom:24px;
}








/*#pledgesCategoryChart svg {*/
/*    width:570px;*/
/*    padding-left: 60px;*/
/*    padding-bottom: 15px;*/
/*    height: 390px;*/

/*}*/

/*#pledgesCategoryChart {}*/



/*#submissionsBarChart svg {*/
/*    padding-left: 24px;*/
/*    padding-bottom:15px;*/
/*    height: 390px;*/

/*}*/

/*#submissionsBarChart {}*/



/*#resultPieChart svg {*/
    /*padding: 10px;*/
    /*margin-left:30px;*/
/*    height: 250px;*/

/*}*/

/*#resultPieChart {*/
/*    padding-left:60px;*/
    
/*}*/


/*#timeLineChart svg {*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*    height: 280px;*/
/*    width:1150px;*/
/*}*/

/*#timeLineChart {*/
   
/*}*/






.dc-chart .axis text {
    fill: black;
    font-size: 14px;
}

.dc-chart g.row text {
    fill: black;
    font-weight:700;
    font-size: 14px;
}

.x.axis text { /*davisford on github*/
    text-anchor: end !important;
    transform: rotate(-45deg);
}


.dc-chart .pie-slice {
    font-size: 14px;


}

.lineHeading {
    text-align: center;

}

.text {
    text-align: center;
}

.frame{
    border: 2px solid darkcyan;
}
#number-box {
    background: orange;
    width: 50px;
    font-size: 20px;
    text-align: center;
    line-height: normal;
}

#start-date {
    background: green;
    width: 50px;
    font-size: 20px;
    text-align: center;
    line-height: normal;
}

#end-date {
    background: darkcyan;
    width: 50px;
    font-size: 20px;
    text-align: center;
    line-height: normal;
}
